@mixin p-number($padding1, $padding2) {
  padding-left: $padding2;
  padding-right: $padding2;
  padding-top: $padding1;
  padding-bottom: $padding1;
  box-sizing: border-box;
}
@mixin flex($justify, $align, $wrap) {
  display: flex;
  @if $justify {
    justify-content: $justify;
  }
  @if $align {
    align-items: $align;
  }
  @if $wrap {
    flex-wrap: wrap;
  }
}
@mixin scroll() {
  overflow-x: hidden;
  overflow-y: auto;
}
@mixin img-fit($fit) {
  width: 100%;
  height: 100%;
  object-fit: fit;
}
@mixin more-toLong($line) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line; /*行数*/
  -webkit-box-orient: vertical;
}

@mixin choose-border($lineHeight) {
  border-bottom: $lineHeight solid var(--el-color-success);
  padding-bottom: -$lineHeight;
  padding-top: $lineHeight;
  box-sizing: border-box;
}

