@import "../mixin/mixin.scss";
@import "../var/var.scss";
html,
body,
#app {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.dp-center {
  display: flex;
  justify-content: center;
}
.dp--center {
  display: flex;
  align-items: center;
}
.dp-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dp-space-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

//手型
.icon-point {
  cursor: pointer;
}

.single-to-long {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.upload-button {
  position: relative;
  z-index: 1;
  border: 1px solid #dcdfe6;
  border-radius: 6px;
  cursor: pointer;
  @include flex(center, center, null);
  .upload-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 5;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
  }
  .upload-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .upload-close {
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 10;
    top: 5px;
    right: 5px;
    display: none;
    cursor: pointer;
  }
  &:hover {
    .upload-close {
      @include flex(center, center, null);
    }
  }
}
